---
layout: page
title: Articles
permalink: /articles/
---

A complete list of Articles published here in fuction of their subject:

<div class="posts">
  {% for post in site.categories.articles %}
   <ul> 
    <article class="post">

      <li><span class="date">{{ post.date | date: "%Y-%m-%d"  }}</span>
      <a href="{{ post.url }}">{{ post.title }}</a>

    </article>
  </ul>
  {% endfor %}
</div>











<!--tags

{% for tag in site.tags %}
  <h3>{{ tag[0] }}</h3>
  <ul>
    {% for post in tag[1] %}
      <li><span class="date">{{ post.date | date: "%Y-%m-%d"  }}</span>
      <a href="{{ post.url }}">{{ post.title }}</a>
      </li>
    {% endfor %}
  </ul>
{% endfor %}


<!--categories

{% for category in site.categories %}
  <h3>{{ category[0] }}</h3>
  <ul>
    {% for page in category[1] %}
      <li><a href="{{ page.url }}">{{ page.title }}</a></li>
    {% endfor %}
  </ul>
{% endfor %}
--!>


