---
layout: page
title: Spotify
permalink: /spotify/
---

Something to listen to:
<!--First version of Article, old page name
<div class="posts">
  {% for post in site.categories.articles %}
   <ul> 
    <article class="post">
      <li><span class="date">{{ post.date | date: "%B - %Y"  }}</span>
      <h3><a href="{{ post.url }}">{{ post.title }}
          <img src="{{post.illustration}}" style="padding-right: 500px;zoom:5%;float:left;">
          </a>
      </h3>
    </article>
  </ul>
  {% endfor %}
</div>
-->

<!--Better version of Article, old page name
<div class="post">
  {% for page in site.categories.spotify %}
    <article class="page">
      <h2><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a>
      <img src="{{page.illustration}}" style="object-fit: cover;width: 96px;height: 96px;padding: 5px;float:right;">
      </h2>
        
      <b>{{ page.subtitle }}</b><br>{{ page.date | date: "%-d %B %Y" }} - 
      <a href="{{ site.baseurl }}{{ page.url }}" class="read-more">Read More</a>
    </article>
  {% endfor %}
</div>
-->

<center>
<div class="posts">
  {% for post in site.categories.spotify %}
  <article class="post">
      <span class="date">{{ post.date | date: "%F"  }}</span><br>
      {{post.content}}
  </article>
  {% endfor %}
</div>
</center>