<center>
<iframe
  height="175"
  width="100%"
  title="Multimedia Player"
  src="https://embed.podcasts.apple.com/us/podcast/{{ include.id }};l=en-EN&amp;itscg=30200&amp;itsct=podcast_box_player&amp;ls=1&amp;mttnsubad=1000698234332&amp;theme=auto"
  id="embedPlayer"
  style="border: 0px; border-radius: 12px; width: 100%; height: 175px; max-width: 660px;"
  sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation-by-user-activation"
  allow="autoplay *; encrypted-media *; clipboard-write"
></iframe>
</center>